{% extends 'Layouts/master.twig' %}
{% block body %}
<label for="parametre">Weight</label>
<input type="range" id="parametre1" min="1" value="10" max="100" step="1">
<input type="range" id="parametre2" min="1" value="20" max="100" step="1">
<input type="range" id="parametre3" min="1" value="60" max="100" step="1">
<input type="range" id="parametre4" min="1" value="52" max="100" step="1">
<input type="range" id="parametre5" min="1" value="80" max="100" step="1">
{% endblock %}
